body{
	margin : auto 0px;
	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
 	-o-user-select: none;
	-ms-user-select: none;
 	user-select: none;
 	font-family: Verdana;
 	font-size:16px;
}
.d_opacidadGeneralInformacion{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	z-index: 1;
	cursor: pointer;
	display: none;
}
.d_contenedorGeneralPpal{
	width:100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}
.d_contenedorOpacidadSec{
	display:none;
	width:100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	position: absolute;
	background-color: #000;
	opacity: 0.34;
	z-index: 1;
	cursor: pointer;
}
/*
==============================================
CSS PRELOADER
==============================================
*/
.d_preloader{
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    display: block;
}
.d_txtProperties{
    font-family: Verdana;
    font-size: 30px !important;
    text-align: center;
    color: #f2f2f2;
    font-weight: bold;
}
.d_helperResources{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 1%;
    height: 1%;
    z-index: -1;
    background-image: url(../img/red_interfaz_vinetaemergente.png), url(../img/red_interfaz_btnind.png),
        url(../img/red_interfaz_logokrismar.png), url(../img/red_interfaz_btninst.png),
        url(../img/red_interfaz_btnobjetivo.png),url(../img/red_interfaz_btnhome.png),
        url(../img/red_interfaz_btnsonido.png),url(../img/red_interfaz_btndescarga.png),
        url(../img/red_interfaz_expandir.png), url(../img/red_interfaz_asideimpresion.png),
        url(../img/red_interfaz_plecaimpresion.png), url(../img/red_interfaz_tituloimpresion.png);
}
/*
==============================================
CSS HEADER
==============================================
*/
.d_encabezadoTeoriaGral{
    width : 100%; 
	height : 38px;
	position: relative;
	float:left;
	z-index: 1;
}
.d_contenedorBtnsMenu{
	width: 300px;
	height: 100%;
	right: 0%;
	position: absolute;
}
.d_comunBtnsHeader{
    width: 58px;
    height: 100%;
    float: right;
    cursor: pointer;
}
.d_btnInstruccionesGeneral{
    background-image: url(../img/red_interfaz_btninst.png);
}
.d_btnObjetivosGeneral{
    background-image: url(../img/red_interfaz_btnobjetivo.png);
}
.d_btnHomeGeneral{
   	background-image: url(../img/red_interfaz_btnhome.png);
}
/*
==============================================
CSS IMPRESIÓN
==============================================
*/
/*.imp_impresionLimpia
{
	width: 700px;
	height: auto;
	position: absolute;
	display:block;
}*/
.imp_estilos{
	font: oblique bold 120% cursive;
}
.imp_impresion{
	position: absolute;
	width: 700px;
	height: auto;
	display: none;
}
.imp_encabezadoImpresion{
	width: 700px;
	height: auto;
	border-collapse:collapse;
}
.imp_encabezadoTitulo{
	width: 700px; 
	height: 97px; 
	background-image: url(../img/red_interfaz_tituloimpresion.png);
}
.imp_titulo{
	width: 700px; 
	height: 97px; 
	text-align:center;
	padding-left: 30px;
	padding-top: 10px;
	font-size : 50px;
	color: #FFF;
}	
.imp_encabezadoPleca{
	width: 700px; 
	height: 34px; 
	background-image: url(../img/red_interfaz_plecaimpresion.png);
}
.imp_subtitulo{
	width: 700px; 
	height: 34px; 
	text-align:center;
}
.imp_lateralIzquierda{
	background-image: url(../img/red_interfaz_asideimpresion.png);
	width: 170px;
	height: 24.5cm;
	position: absolute;
	z-index: -1;
}
.imp_contenidoImpresion{
	width: 530px;
	height: auto;
	overflow-x:hidden;
	float: right;
}
.d_flechaDown{
	width: 22px;
	height: 22px;
	background-image: url(../img/red_interfaz_btnind.png);
	position: absolute;
	z-index: 3;
	left: 50%;
	margin-left:-11px;
	top: 2%;
}
.d_btnInstruccionesGeneral{
	width: 58px;
    height: 100%;
    background-image: url(../img/red_interfaz_btninst.png);
    float: right;
    cursor: pointer;
}
.d_btnObjetivosGeneral{
    width: 58px;
    height: 100%;
    background-image: url(../img/red_interfaz_btnobjetivo.png);
    float: right;
    cursor: pointer;
} 
.d_btnHomeGeneral{
    width: 58px;
    height: 100%;
    background-image: url(../img/red_interfaz_btnhome.png);
    float: right;
    cursor: pointer;
}
/*
===========================================
FOOTER BAR
===========================================
*/
.d_pieTeoriaGral{
	width : 100%;
	position: fixed;	 
	bottom: 0%;
	z-index: 2;
}
.d_conteBtnViewFooter{
    float: left;
    width: 100%;
}
.d_btnDespliegaMenu{
	width:85px;
	height:39px; 
	background-image: url(../img/red_interfaz_btnmostrar.png);
    background-size: contain;
    margin: auto;
	cursor: pointer;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
.d_conteBtnsOpc{
    width: 100%;
    float: left;
    display: none;
}
.d_btnsLectura{
    width: 200px;
    height: 100%;
    margin: auto;
}
.d_division{
    width: 50%;
    height: 100%;
    float: left;
}
.d_comunBtnsFooterBar{
    width:58px; 
	height: 58px; 
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
	cursor: pointer;
	border-radius: 50%;
}
.d_btnIconAudio{
	background-image: url(../img/red_interfaz_btnsonido.png);
    background-size: contain;
}
.d_btnIconDescarga{
	background-image: url(../img/red_interfaz_btndescarga.png);
    background-size: contain;
}
.d_conteNamesBtns{
    float: left;
    width: 100%;
	height : 43px;
    display: none;
}
.d_comunTxtFooterBar{
    width: 100%;
    color: #FFFFFF;
    font-size: 16px !important;
	text-align: center;
	word-wrap: break-word;
}
/*
===========================================
ACTIVIDAD CSS
===========================================
*/
.d_expandirScreen{
	width:100%;
	height:100%;
	background-color: #00889C;
	position: absolute;
	display: none;
}

.d_imgExpandirScreen{
	width: 302px;
	height: 230px;
	background-image: url(../img/red_interfaz_expandir.png);
	position: absolute;
}

.d_recargarScreen{
	width:100%;
	height:100%;
	background-color: #ABC;
	position: absolute;
	display: none;
}

.d_actividadLectura{
	width: 100%; 
	height: 100%; 
	top : 38px; 
	overflow: hidden; 
	position: absolute;
}
/*
==============================================
CSS CONTENIDO DE LA ACTIVIDAD
==============================================
*/
.d_fondo{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:absolute;
}
.d_contenido{
    width:1200px;
	height:900px;
	top:50%;
    left: 50%;
    margin-top: -450px;
    margin-left: -600px;
	position:absolute;
}
/*
==============================================
CSS MEDIA QUIERIES MAX-HEIGHT : 599px landscape
==============================================
*/
@media only screen 
and (max-height : 599px)
and (orientation : landscape) {
.d_btnDespliegaMenu{
	width:68px;
	height:31px; 
}
.d_comunBtnsFooterBar{
    width:48px; 
	height: 48px; 
}
.d_btnsLectura{
    width: 190px;
}
/*****PRELOADER*****/
.d_txtProperties{
    font-size: 26px !important;
}
}
/*
==============================================
CSS MEDIA QUIERIES MAX-HEIGHT : 499px landscape
==============================================
*/
@media only screen 
and (max-height : 499px)
and (orientation : landscape) {
.d_btnDespliegaMenu{
	width:58px;
	height:27px; 
}
.d_comunBtnsFooterBar{
    width:38px; 
	height: 38px; 
}
.d_btnsLectura{
    width: 190px;
}
/*****PRELOADER*****/
.d_txtProperties{
    font-size: 20px !important;
}
}
/*
==============================================
CSS MEDIA QUIERIES MAX-HEIGHT : 399px landscape
==============================================
*/
@media only screen 
and (max-height : 399px)
and (orientation : landscape) {
.d_btnDespliegaMenu{
	width:48px;
	height:22px; 
}
.d_comunBtnsFooterBar{
    width:28px; 
	height: 28px; 
}
.d_btnsLectura{
    width: 190px;
}
/*****PRELOADER*****/
.d_txtProperties{
    font-size: 16px !important;
}
}
/*
==============================================
CSS MEDIA QUIERIES portrait
==============================================
*/
@media only screen 
and (orientation : portrait) {
/*****PRELOADER*****/
.d_txtProperties{
    font-size: 18px !important;
}
}
/*
==============================================
FOOTER ANIMATION
==============================================
*/
/******** Para mostrarlo ********/

.footerUp{
	animation-name: footerUp;
	-webkit-animation-name: footerUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes footerUp {
	0% {
		transform: translateY(50%);
	}
	50%{
		transform: translateY(0%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(0%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes footerUp {
	0% {
		-webkit-transform: translateY(50%);
	}
	50%{
		-webkit-transform: translateY(0%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(0%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/******** Para ocultarlo ********/
.footerDown{
	animation-name: footerDown;
	-webkit-animation-name: footerDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes footerDown {
	0% {
		transform: translateY(0%);
	}
	5%{
		transform: translateY(4%);
	}
	20%{
		transform: translateY(0%);
	}
	35%{
		transform: translateY(6%);
	}
	50%{
		transform: translateY(0%);
	}			
	100% {
		transform: translateY(8%);
	}		
}

@-webkit-keyframes footerDown {
	0% {
		-webkit-transform: translateY(0%);
	}
	5%{
		-webkit-transform: translateY(4%);
	}
	20%{
		-webkit-transform: translateY(0%);
	}
	35%{
		-webkit-transform: translateY(6%);
	}
	50%{
		-webkit-transform: translateY(0%);
	}			
	100% {
		-webkit-transform: translateY(8%);
	}	
}
/*
=========================================================
QUERIES PARA ADPATAR EL CONTENIDO DE LA ACTIVIDAD
=========================================================
*/
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 960px
==============================================
*/
@media screen and (max-height: 960px) {
/*TIPOGRAFÍA*/
html{
    font-size: 62%;
}
/*CONTENIDO*/
.d_contenido{
    width:1133px;
	height:850px;
    margin-left: -566px;
    margin-top: -425px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 910px
==============================================
*/
@media screen and (max-height: 910px) {
/*TIPOGRAFÍA*/
html{
    font-size: 59%;
}
/*CONTENIDO*/
.d_contenido{
    width:1067px;
	height:800px;
    margin-left: -533px;
    margin-top: -400px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 860px
==============================================
*/
@media screen and (max-height: 860px) {
/*TIPOGRAFÍA*/
html{
    font-size: 56%;
}
/*CONTENIDO*/
.d_contenido{
    width:1000px;
	height:750px;
    margin-left: -500px;
    margin-top: -375px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 710px
==============================================
*/
@media screen and (max-height: 710px) {
/*TIPOGRAFÍA*/
html{
    font-size: 53%;
}
/*CONTENIDO*/
.d_contenido{
    width:933px;
	height:700px;
    margin-left: -466px;
    margin-top: -350px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 760px
==============================================
*/
@media screen and (max-height: 760px) {
/*TIPOGRAFÍA*/
html{
    font-size: 50%;
}
/*CONTENIDO*/
.d_contenido{
    width:867px;
	height:650px;
    margin-left: -433px;
    margin-top: -325px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 710px
==============================================
*/
@media screen and (max-height: 710px) {
/*TIPOGRAFÍA*/
html{
    font-size: 47%;
}
/*CONTENIDO*/
.d_contenido{
    width:800px;
	height:600px;
    margin-left: -400px;
    margin-top: -300px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 660px
==============================================
*/
@media screen and (max-height: 660px) {
/*TIPOGRAFÍA*/
html{
    font-size: 44%;
}
/*CONTENIDO*/
.d_contenido{
    width:733px;
	height:550px;
    margin-left: -366px;
    margin-top: -275px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 560px
==============================================
*/
@media screen and (max-height: 610px) {
/*TIPOGRAFÍA*/
html{
    font-size: 41%;
}
/*CONTENIDO*/
.d_contenido{
    width:667px;
	height:500px;
    margin-left: -333px;
    margin-top: -250px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 560px
==============================================
*/
@media screen and (max-height: 560px) {
/*TIPOGRAFÍA*/
html{
    font-size: 38%;
}
/*CONTENIDO*/
.d_contenido{
    width:600px;
	height:450px;
    margin-left: -300px;
    margin-top: -225px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 510px
==============================================
*/
@media screen and (max-height: 510px) {
/*TIPOGRAFÍA*/
html{
    font-size: 35%;
}
/*CONTENIDO*/
.d_contenido{
    width:533px;
	height:400px;
    margin-left: -266px;
    margin-top: -200px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 460px       se reduce
==============================================
*/
@media screen and (max-height: 460px) {
/*TIPOGRAFÍA*/
html{
    font-size: 4.8px;
}
/*CONTENIDO*/
.d_contenido{
    width:467px;
	height:350px;
    margin-left: -233px;
    margin-top: -175px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 410px..
==============================================
*/
@media screen and (max-height: 410px) {
/*TIPOGRAFÍA*/
html{
    font-size: 3.8px;
}
/*CONTENIDO*/
.d_contenido{
    width:400px;
	height:300px;
    margin-left: -200px;
    margin-top: -150px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 360px .....
==============================================
*/
@media screen and (max-height: 360px) {
/*TIPOGRAFÍA*/
html{
    font-size: 3.2px;
}
/*CONTENIDO*/
.d_contenido{
    width:333px;
	height:250px;
    margin-left: -166px;
    margin-top: -125px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-HEIGHT 310px
==============================================
*/
@media screen and (max-height: 310px) {
/*TIPOGRAFÍA*/
html{
    font-size: 2.6px;
}
/*CONTENIDO*/
.d_contenido{
    width:267px;
	height:200px;
    margin-left: -133px;
    margin-top: -100px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 1170px PORTRAIT
==============================================
*/
@media screen and (max-width: 1170px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 58%;
}
/*CONTENIDO*/
.d_contenido{
    width:1050px;
	height:787px;
    margin-left: -525px;
    margin-top: -393px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 1120px PORTRAIT
==============================================
*/
@media screen and (max-width: 1120px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 56%;
}
/*CONTENIDO*/
.d_contenido{
    width:1000px;
	height:750px;
    margin-left: -500px;
    margin-top: -375px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 1070px PORTRAIT
==============================================
*/
@media screen and (max-width: 1070px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 54%;
}
/*CONTENIDO*/
.d_contenido{
    width:950px;
	height:712px;
    margin-left: -475px;
    margin-top: -356px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 1020px PORTRAIT
==============================================
*/
@media screen and (max-width: 1020px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 52%;
}
/*CONTENIDO*/
.d_contenido{
    width:900px;
	height:675px;
    margin-left: -450px;
    margin-top: -337px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 970px PORTRAIT
==============================================
*/
@media screen and (max-width: 970px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 50%;
}
/*CONTENIDO*/
.d_contenido{
    width:850px;
	height:637px;
    margin-left: -425px;
    margin-top: -318px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 920px PORTRAIT
==============================================
*/
@media screen and (max-width: 920px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 48%;
}
/*CONTENIDO*/
.d_contenido{
    width:800px;
	height:600px;
    margin-left: -400px;
    margin-top: -300px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 870px PORTRAIT
==============================================
*/
@media screen and (max-width: 870px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 46%;
}
/*CONTENIDO*/
.d_contenido{
    width:750px;
	height:562px;
    margin-left: -375px;
    margin-top: -281px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 820px PORTRAIT
==============================================
*/
@media screen and (max-width: 820px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 44%;
}
/*CONTENIDO*/
.d_contenido{
    width:700px;
	height:525px;
    margin-left: -350px;
    margin-top: -262px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 770px PORTRAIT
==============================================
*/
@media screen and (max-width: 770px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 42%;
}
/*CONTENIDO*/
.d_contenido{
    width:650px;
	height:487px;
    margin-left: -325px;
    margin-top: -243px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 720px PORTRAIT
==============================================
*/
@media screen and (max-width: 720px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 40%;
}
/*CONTENIDO*/
.d_contenido{
    width:600px;
	height:450px;
    margin-left: -300px;
    margin-top: -225px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 670px PORTRAIT se reduce
==============================================
*/
@media screen and (max-width: 670px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 5.4px;
}
/*CONTENIDO*/
.d_contenido{
    width:550px;
	height:412px;
    margin-left: -275px;
    margin-top: -206px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 620px PORTRAIT
==============================================
*/
@media screen and (max-width: 620px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 5px;
}
/*CONTENIDO*/
.d_contenido{
    width:500px;
	height:375px;
    margin-left: -250px;
    margin-top: -187px;
}
}/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 570px PORTRAIT
==============================================
*/
@media screen and (max-width: 570px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 4.5px;
}
/*CONTENIDO*/
.d_contenido{
    width:450px;
	height:337px;
    margin-left: -225px;
    margin-top: -168px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 520px PORTRAIT 
==============================================
*/
@media screen and (max-width: 520px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 4px;
}
/*CONTENIDO*/
.d_contenido{
    width:400px;
	height:300px;
    margin-left: -200px;
    margin-top: -150px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 470px PORTRAIT
==============================================
*/
@media screen and (max-width: 470px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 4px;
}
/*CONTENIDO*/
.d_contenido{
    width:400px;
	height:300px;
    margin-left: -200px;
    margin-top: -150px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 450px PORTRAIT..
==============================================
*/
@media screen and (max-width: 450px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 3.2px;
}
/*CONTENIDO*/
.d_contenido{
    width:350px;
	height:262px;
    margin-left: -175px;
    margin-top: -131px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 400px PORTRAIT
==============================================
*/
@media screen and (max-width: 400px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 2.8px;
}
/*CONTENIDO*/
.d_contenido{
    width:300px;
	height:225px;
    margin-left: -150px;
    margin-top: -112px;
}
}
/*
==============================================
CSS MEDIA QUERIES MAX-WIDTH 350px PORTRAIT
==============================================
*/
@media screen and (max-width: 350px) and (orientation: portrait) {
/*TIPOGRAFÍA*/
html{
    font-size: 2.3px;
}
/*CONTENIDO*/
.d_contenido{
    width:250px;
	height:187px;
    margin-left: -125px;
    margin-top: -93px;
}
}